.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../img/Menu.svg);
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao {
    display: none;
}

.container__titulo, .opçoes {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {
    .container__titulo {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opçoes {
        display: flex;
    }

    .opçoes__item {
        padding: 0 1.5em;
    }

    .opçoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opçoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opçoes__botao {
        display: none;
    }

    .opçoes__botao:checked ~ .opçoes__rotulo > .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opçoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    
    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho {
        padding: 0 3em;
    }

    .opçoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}