hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .lista-rodape {
        display: block;
    }

    .rodape {
        display: flex;
        justify-content: space-around;
        padding-top: 3em;
    }

    .rodape h2 {
        font-size: 24px;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
        font-size: 14px;
    }

    .lista-rodape__titulo {
        color: var(--cinza-claro);
        margin-bottom: 2em;
        font-size: 14px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 2em;
    }

    .rodape {
        padding: 3em 0;
    }
}